body{
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-aspect-ratio: 1/1) {
    /* ----------------------------------------------------------------------------------------------*/
    .logo1 {
        display: block; /* Se convierte al logo1 en un bloque */
        float: left; /* Hace que flote a la izquierda */
        height: 44px; /* Establece la altura y anchura de la imagen */
        width: 39px;
        margin-top: 4px;
    }

    .logo2 {
        display: block; /* Se convierte al logo1 en un bloque */
        float: right; /* Hace que flote a la derecha */
        height: 44px; /* Establece la altura y anchura de la imagen */
        width: 39px;
        margin-top: 4px;
    }

    .item {
        margin: 1em; /* Margen entre palabra y palabra */
        color: black;
        font-size: 34px; /* Tamaño de letra*/
        font-family: 'Marck Script', sans-serif; /* Selecciona el tipo de letra (tiene que estar linkeado en el head)*/
        text-decoration: none; /* Elimina el subrayado que viene de base para los link a otras páginas */
    }

    .text-menu {
        display: table; /* Convierte a las diferentes etiquetas <a> en una tabla */
        margin: 0 auto; /* Aliena la tabla al centro de la pantalla automaticamente */
        margin-top: 5px;
    }

    .bloque-menu {
        background-color: #F7DC6F; /* Color del menú */
        overflow: hidden; /* Antes estaba hidden */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 2;
    }

    @media screen and (max-width: 683px) {
        .item {
            font-size: 14px;
            margin: .5em;
        }

        .inicio {
            height: 40px;
        }

        .logo1 {
            height: 24px;
            width: 21px;
        }

        .logo2 {
            height: 24px;
            width: 21px;
        }

        .bloque-menu {
            height: 30px;
        }

    }

    /* ---- Fotos con una breve descripción que redirigen a ls zonas de interés detalladas*/
    .conjunto-bloques {
        margin-top: 7vw;
    }

    .contenedor-bloque{
        height: auto;
        margin-top: 5vw;
    }

    .foto-zona {
        width: 50vw;
        height: 25vw;
        margin: 0 auto;
        margin-left: 16vw;
    }

    .foto-zona img {
        width: 100%;
        height: 100%;
    }

    .contenedor-texto {
        font-family: 'Caveat', cursive;
        background: #2f2f2f;
        height: 15vw;
        width: 20vw;
        z-index: 1;
        position: relative;
        top: -22.5vw;
        left: 43vw;
        padding: 2vw;
        box-shadow: 10px 10px 25px rgb(25, 25, 25),
        -10px -10px 25px rgb(60, 60, 60);
    }

    .contenedor-texto h2{
        color: white;
        text-align: right;
        margin-top: 0;
        font-size: 2vw;
    }

    .contenedor-texto p{
        color: white;
        text-align: justify;
        font-size: 1.5vw;

    }

    /* Botón del bloque de texto de la derecha de la foto que redirige al sitio indicado */
    .cta {
        border: none;
        background: none;
    }

    .cta span {
        font-family: 'Caveat', cursive;
        padding-bottom: .7vw;
        letter-spacing: .4vw;
        font-size: 1.4vw;
        padding-right: 1.5vw;
        text-transform: uppercase;
    }

    .cta svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
    }

    #arrow-horizontal {
        fill: white;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active svg {
        transform: scale(0.9);
    }

    .hover-underline-animation {
        position: relative;
        color: white;
        padding-bottom: 20px;
    }

    .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .cta:hover .hover-underline-animation:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    /* ---------- Plantilla información zona -------------------------------------------------*/
    /* Botón de regreso */
    .volver {
        display: flex;
        font-family: 'Caveat', cursive;
        font-size: 1.5vw;
        position: relative;
        top: 1.5vw;
        left: 1.5vw;
        background: #FBD148;
        box-sizing: border-box;
        border: 0;
        border-radius: 1vw;
        outline: 0;
        padding: .5vw .5vw;
        cursor: pointer;
        width: 6.5vw;
        transition: .25s ease;
    }

    .flecha {
        position: relative;
        left: 1vw;
        top: .25vw;
        width: 1.5vw;
        height: 1.5vw;
    }

    .volver::before {
        position: absolute;
        content: '';
        box-sizing: border-box;
        top: 0;
        left: 0;
        transform: translate(-.5vw, -.5vw);
        width: 100%;
        height: 100%;
        border: .1vw solid rgb(84, 84, 84);
        border-radius: 1vw;
        transition: .25s ease;
    }

    .volver:hover {
        transform: translate(-.5vw, -.5vw);
    }

    .volver:hover::before {
        transform: translate(.5vw, .5vw);
    }

    /*Inoformación sobre el lugar*/
    .informacion-lugar {
        display: flex;
        margin-top: 7vw;
        position: relative;
        justify-content: center;
    }

    .presentacion {
        margin-right: 10vw;
        font-family: 'Caveat', cursive;
    }

    .Nombre-zona {
        margin-top: 0;
        font-size: 4.5vw;
        font-weight: bold;
    }

    .info-texto {
        font-size: 1.5vw;
        width: 40vw;
        height: 20vw;
        text-align: justify;
        line-height: 2vw;
    }

    .contenedor-dezlizante {
        margin-top: 3vw;
        overflow: hidden;
        width: 30vw;
        height: 20vw;
    }

    .deslizante {
        display: flex;
        transition: transform 1s ease;
        height: 100%;
        width: 100%;
        transform: translateX(0%);
    }

    .imagen-deslizante {
        display: block;
        width: 100%;
    }

    .deslizante-firefox {
        display: none;
        transition: transform 1s ease;
        height: 100%;
        width: 100%;
        transform: translateX(0%);
    }
    .imagen-firefox{
        height: 100%;
        width: 80vw;
    }
    /* ---------- Información detallada / Historia / Similar ---------------------------------*/
    .contenedor-informacion-detallada {
        font-family: 'Caveat', cursive;
        width: 80vw;
        height: auto;
        margin: 0;
        padding-left: 10vw;

    }

    .titulo-info-detallada {
        font-size: 2vw;
    }

    .detalles {
        font-size: 1.5vw;
        text-align: justify;
    }

    /* ---------- Fotos varias ---------------------------------------------------------------*/
    .contenedor-matriz-fotos{
        margin: 0 auto;
        margin-bottom: 10vw;
        margin-top: 5vw;
        width: 90vw;
        height: auto;
    }

    .fotos-del-lugar{
        text-align: center;
        font-size: 2vw;
        font-family: 'Caveat', cursive;
    }
    .fotos-varias {
        display: flex;
    }

    #cont-1{
        display: flex;
        width: auto;
        margin: 0;
    }

    #cont-1 .contenedor-foto-cuadrada {
        display: grid;
        width: 32.5vw;
    }

    .foto-cuadrada-1 {
        width: 100%;
        margin-top: 1vw;
    }

    .foto-alta {
        width: 23vw;
        height: auto;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    #cont-2{
        display: grid;
        width: 36.7%;
    }

    .foto-cuadrada-2{
        width: 100%;
        margin-top: 1vw;
    }


    /* ---------- Webgrafía ------------------------------------------------------------------*/
    .contendor-webgrafia {
        font-family: 'Caveat', cursive;
        background-color: #f7dc6f;
        height: auto;
        display: flex;
    }

    #titulo-otras-paginas{
        font-size: 1.7vw;
    }
    .otras-paginas {
        padding-top: .01vw;
        margin-left: 27vw;
    }

    .contenedor-paginas {
        margin-left: 5vw;
    }

    .paginas {
        font-size: 1.3vw;
        display: list-item;
        text-decoration: none;
        color: black;
        line-height: 1vw;
    }

    .paginas:hover {
        color: white;
    }

    /* Botón de localización */
    .boton-lugar {
        display: flex;
        align-items: center;
        position: relative;
        left: 20vw;
    }

    .primary-button {
        font-family: 'Caveat', cursive;
        /* font-family: 'Valorant', sans-serif; */
        color: white;
        cursor: pointer;
        font-size: 1.3vw;
        font-weight: bold;
        letter-spacing: 0.05rem;
        border: .1vw solid #0E1822;
        padding: 0.8rem 2.1rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        background-color: #0E1822;
        background-size: 200%;
        background-position: 200%;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
        transition-property: background-position, border, color;
        position: relative;
        z-index: 1;
    }

    .primary-button:hover {
        border: .1vw solid #FF4655;
        color: white;
        background-position: 40%;
    }

    .primary-button:before {
        content: "";
        position: absolute;
        background-color: #0E1822;
        width: 0.2rem;
        height: 0.2rem;
        top: -1px;
        left: -1px;
        transition: background-color 0.15s ease-in-out;
    }

    .primary-button:hover:before {
        background-color: white;
    }

    .primary-button:hover:after {
        background-color: white;
    }

    .primary-button:after {
        content: "";
        position: absolute;
        background-color: #FF4655;
        width: 0.3rem;
        height: 0.3rem;
        bottom: -1px;
        right: -1px;
        transition: background-color 0.15s ease-in-out;
    }

    .button-borders {
        position: relative;
        width: fit-content;
        height: fit-content;
    }

    .button-borders:before {
        content: "";
        position: absolute;
        width: calc(100% + 0.5em);
        height: 50%;
        left: -0.3em;
        top: -0.3em;
        border: 1px solid #0E1822;
        border-bottom: 0px;
        /* opacity: 0.3; */
    }

    .button-borders:after {
        content: "";
        position: absolute;
        width: calc(100% + 0.5em);
        height: 50%;
        left: -0.3em;
        bottom: -0.3em;
        border: 1px solid #0E1822;
        border-top: 0px;
        /* opacity: 0.3; */
        z-index: 0;
    }

    .shape {
        fill: #0E1822;
    }

    /* --- Pie negro ----------- */
    .pie-negro{
        background-color: black;
        height: auto;
    }
    .show-card-client div{
        color: white;
        text-align: center;
        font-family: sans-serif;
    }

    /* Valores para el ultimo cuadro de fin de pagina donde se encuentra el contacto, otras paginas... */
    .pie-pagina {
        background-color: #f7dc6f;
        height: auto;
        font-family: 'Caveat', cursive;
    }

    .contacto {
        height: 7vw;
    }

    #titulo4 {
        text-align: center;
        font-size: 4vw;
        position: relative;
        top: 1vw;
        left: 6vw;
        border-bottom: .1vw solid black;
        width: 88vw;
    }

    .informacion {
        display: flex;
        height: 16vw;
    }

    #informacion-1, #informacion-2{
        display: flex;
        height: 100%;
    }

    .bloque-contacto {
        margin-left: 7.5vw;
        justify-content: center;
        width: 17vw;
        height: 10vw;
    }

    .icono {
        margin-top: .6vw;
        width: 3vw;
        height: 3vw;
    }

    #bloque-ubicacion {
        font-size: 1.3vw;
        position: relative;
        left: 1.3vw;
        line-height: 2vw;
    }

    #ubicacion{
        text-decoration: none;
        color: black;
    }

    #ubicacion:hover, .enlaces:hover {
        color: white;
    }

    #redes {
        position: relative;
        top: .6vw;
        width: 22vw;
        height: 10vw;
    }

    .text-redes {
        margin: .5vw;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-weight: bold;
        font-size: 2vw;
    }

    .bloque-iconos-redes {
        display: flex;
        justify-content: center;
    }

    .iconos-redes {
        margin: 1vw;
        width: 3vw;
        height: 3vw;
    }

    .text-contacto {
        margin-top: 1.1vw;
        margin-left: 1vw;
        font-family: 'Caveat', cursive;
        font-size: 2vw;
        height: 1vw;
    }

    #bloque-enlaces, #bloque-datos {
        position: relative;
        left: 3vw;
    }

    .enlaces, .datos {
        margin-bottom: 1vw;
        display: list-item;
        font-size: 1.3vw;
    }

    .enlaces a{
        text-decoration: none;
        color: black;
    }

    .enlaces a:hover {
        color: white;
    }

    #linea-contacto {
        color: black;

    }

    .copy {
        background-color: black;
    }

    .pie-negro{
        background-color: black;
        height: auto;
    }
    .show-card-client div{
        color: white;
        text-align: center;
        font-family: sans-serif;
    }


    /* Easter Egg*/
    .card-client {
        position: fixed;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #2cb5a0;
        width: 13rem;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
        border: 4px solid #7cdacc;
        box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
        border-radius: 10px;
        text-align: center;
        color: #fff;
        font-family: "Poppins", sans-serif;
        transition: all 0.3s ease;
    }

    .user-picture {
        overflow: hidden;
        object-fit: cover;
        width: 5rem;
        height: 5rem;
        border: 4px solid #7cdacc;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .user-picture svg {
        width: 2.5rem;
        fill: currentColor;
    }

    .name-client {
        margin: 0;
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
    }

    .name-client span {
        display: block;
        font-weight: 200;
        font-size: 16px;
    }

    .social-media:before {
        content: " ";
        display: block;
        width: 100%;
        height: 2px;
        margin: 20px 0;
        background: #7cdacc;
    }

    .social-media a {
        position: relative;
        margin-right: 15px;
        text-decoration: none;
        color: inherit;
    }

    .social-media a:last-child {
        margin-right: 0;
    }

    .social-media a svg {
        width: 1.1rem;
        fill: currentColor;
    }

    /*-- Tooltip Social Media --*/
    .tooltip-social {
        background: #262626;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 0.5rem 0.4rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: 600;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -90%);
        transition: all 0.2s ease;
        z-index: 1;
    }

    .tooltip-social:after {
        content: " ";
        position: absolute;
        bottom: 1px;
        left: 50%;
        border: solid;
        border-width: 10px 10px 0 10px;
        border-color: transparent;
        transform: translate(-50%, 100%);
    }

    .social-media a .tooltip-social:after {
        border-top-color: #262626;
    }

    .social-media a:hover .tooltip-social {
        opacity: 1;
        transform: translate(-50%, -130%);
    }


}

/************************************************************************************/
/*       Formato móvil                                                              */
/************************************************************************************/
@media (max-aspect-ratio: 1/1) {
    /* ----------------------------------------------------------------------------------------------*/
    .logo1 {
        display: block; /* Se convierte al logo1 en un bloque */
        float: left; /* Hace que flote a la izquierda */
        height: 11vw; /* Establece la altura y anchura de la imagen */
        width: 9.5vw;
        margin: 1vw;
    }

    .logo2 {
        display: block; /* Se convierte al logo1 en un bloque */
        float: right; /* Hace que flote a la derecha */
        height: 11vw; /* Establece la altura y anchura de la imagen */
        width: 9.5vw;
        margin: 1vw;
    }

    .item {
        margin: .5em; /* Margen entre palabra y palabra */
        color: black;
        font-size: 4.9vw; /* Tamaño de letra*/
        font-family: 'Marck Script', sans-serif; /* Selecciona el tipo de letra (tiene que estar linkeado en el head)*/
        text-decoration: none; /* Elimina el subrayado que viene de base para los link a otras páginas */
    }

    .text-menu {
        display: table; /* Convierte a las diferentes etiquetas <a> en una tabla */
        margin: 0 auto; /* Aliena la tabla al centro de la pantalla automaticamente */
        margin-top: 4vw;
        width: 75vw;
    }

    .bloque-menu {
        background-color: #F7DC6F; /* Color del menú */
        overflow: hidden; /* Antes estaba hidden */
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;       /*Cambiar a 100% cuando se termine de configurar*/
        height: auto;
        z-index: 2;
    }

    /* ----- Conjunto de fotos con redirección a las zonas de interés --------------------------*/
    .conjunto-bloques {
        margin-top: 20vw;
    }

    .contenedor-bloque{
        height: auto;
    }

    .foto-zona {
        width: 75vw;
        height: auto;
        margin-left: 7.5vw;
        display: table;
    }

    .foto-zona img {
        width: 100%;
        height: 40vw;
    }

    .contenedor-texto {
        font-family: 'Caveat', cursive;
        background: #2f2f2f;
        height: auto;
        width: 45vw;
        z-index: 1;
        padding: 2.5vw;
        position: relative;
        top: -7vw;
        left: 35vw;
        box-shadow: 10px 10px 25px rgb(25, 25, 25),
        -10px -10px 25px rgb(60, 60, 60);
    }

    .contenedor-texto h2 {
        color: white;
        margin-top: 0;
        font-size: 3vw;
        text-align: right;
    }

    .contenedor-texto p {
        color: white;
        text-align: justify;
        font-size: 2vw;
    }

    /* Botón del bloque de texto de la derecha de la foto que redirige al sitio indicado */
    .cta {
        border: none;
        background: none;
    }

    .cta span {
        font-family: 'Caveat', cursive;
        padding-bottom: .7vw;
        letter-spacing: .4vw;
        font-size: 3vw;
        padding-right: 1.5vw;
        text-transform: uppercase;
    }

    .cta svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
    }

    #arrow-horizontal {
        fill: white;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active svg {
        transform: scale(0.9);
    }

    .hover-underline-animation {
        position: relative;
        color: white;
        padding-bottom: 20px;
    }

    .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    /* Botón de regreso */
    .contenedor-boton-volver{
        margin-bottom: 15vw;
    }
    .volver {
        display: flex;
        font-family: 'Caveat', cursive;
        font-size: 6vw;
        position: relative;
        top: 5vw;
        left: 5vw;
        background: #FBD148;
        box-sizing: border-box;
        border: 0;
        border-radius: 5vw;
        outline: 0;
        padding: 2vw 2vw;
        cursor: pointer;
        width: 28vw;
        transition: .25s ease;
    }

    .flecha {
        position: relative;
        left: 4vw;
        top: .8vw;
        width: 7vw;
        height: 7vw;
    }

    .volver::before {
        position: absolute;
        content: '';
        box-sizing: border-box;
        top: 0;
        left: 0;
        transform: translate(-2vw, -2vw);
        width: 100%;
        height: 100%;
        border: .5vw solid rgb(84, 84, 84);
        border-radius: 5vw;
        transition: .25s ease;
    }

    .volver:hover {
        transform: translate(-2vw, -2vw);
    }

    .volver:hover::before {
        transform: translate(2vw, 2vw);
    }

    /*Información sobre el lugar*/
    .informacion-lugar {
        margin: 7vw;
        position: relative;
        justify-content: center;
    }

    .presentacion {
        margin-right: 0;
        font-family: 'Caveat', cursive;
        margin-bottom: 10vw;
    }

    .Nombre-zona {
        margin-top: 0;
        margin-bottom: 5vw;
        font-size: 13vw;
        font-weight: bold;
    }

    .info-texto {
        font-size: 5.5vw;
        width: 100%;
        height: auto;
        text-align: justify;
        line-height: 7.8vw;
    }

    .contenedor-dezlizante {
        margin: 0 auto;
        overflow: hidden;
        width: 80vw;
        height: 55vw;
    }

    .deslizante {
        display: flex;
        transition: transform 1s ease;
        height: 100%;
        width: 100%;
        transform: translateX(0%);
    }

    .deslizante-firefox {
        display: none;
        transition: transform 1s ease;
        height: 100%;
        width: 100%;
        transform: translateX(0%);
    }

    .imagen-firefox{
        height: 100%;
        width: 80vw;
    }
    .imagen-deslizante {
        display: block;
        width: 100%;
    }


    /* ---------- Información detallada / Historia / Similar ---------------------------------*/
    .contenedor-informacion-detallada {
        font-family: 'Caveat', cursive;
        width: auto;
        height: auto;
        margin: 0;
        padding-left: 7vw;
        padding-top: 5vw;
        padding-right: 7vw;
    }

    .titulo-info-detallada {
        font-size: 10vw;
    }

    .detalles {
        font-size: 5vw;
        text-align: justify;
    }


    /* ---------- Fotos varias ---------------------------------------------------------------*/
    .contenedor-matriz-fotos{
        width: auto;
        margin-bottom: 10vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .fotos-del-lugar {
        margin-bottom: 5vw;
        margin-top: 15vw;
        display: flex;
        justify-content: center;
        font-family: 'Caveat', cursive;
        font-size: 8vw;
        width: auto;
    }

    .contenedor-fotos-varias {
        display: flex;
        justify-content: center;
        margin-bottom: 4vw;
    }

   .fotos-varias {
        display: flow;
        height: auto;
        width: auto;
    }

    .contenedor-foto-cuadrada {
        display: block;
        width: 75%;
        height: auto;
        margin: 1vw;
        margin-left: 0;
    }

    #cont-1{
        display: flex;
    }

    #cont-2{
        display: block;
        width: 100%;
        height: auto;
        margin: 0vw;
    }

    .foto-cuadrada-1 {
        margin: 1vw;
        margin-left: 0;
        width: 100%;
    }

    .foto-cuadrada-2{
        width: 100%;
        margin-bottom: 2vw;
    }


    .foto-alta {
        height: auto;
        width: 60%;
        margin-top: 2vw;
        margin-bottom: 2.4vw;
        margin-left: 2vw;

    }


    /* ---------- Webgrafía ------------------------------------------------------------------*/
    .contendor-webgrafia {
        font-family: 'Caveat', cursive;
        background-color: #f7dc6f;
        height: auto;
        display: flex;
    }

    #titulo-otras-paginas{
        font-size: 5vw;
        margin-top: 1vw;
    }

    .otras-paginas {
        padding-top: .0vw;
        margin-left: 5vw;
    }

    .otras-paginas u h2{
        font-size: 5vw;
    }

    .contenedor-paginas {
        margin-left: 5vw;
    }

    .paginas {
        font-size: 4vw;
        display: list-item;
        text-decoration: none;
        color: black;
        line-height: 1vw;
    }

    .paginas:hover {
        color: white;
    }

    /* Botón de localización */
    .boton-lugar {
        display: flex;
        position: absolute;
        right: 6vw;
    }

    .primary-button {
        font-family: 'Caveat', cursive;
        /* font-family: 'Valorant', sans-serif; */
        color: white;
        cursor: pointer;
        font-size: 3.5vw;
        font-weight: bold;
        letter-spacing: 0.05rem;
        border: .1vw solid #0E1822;
        padding: 0.8rem 2.1rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        background-color: #0E1822;
        background-size: 200%;
        background-position: 200%;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
        transition-property: background-position, border, color;
        position: relative;
        z-index: 1;
    }

    .primary-button:hover {
        border: .1vw solid #FF4655;
        color: white;
        background-position: 40%;
    }

    .primary-button:before {
        content: "";
        position: absolute;
        background-color: #0E1822;
        width: 0.3rem;
        height: 0.3rem;
        top: -.6px;
        left: -.6px;
        transition: background-color 0.15s ease-in-out;
    }

    .primary-button:hover:before {
        background-color: white;
    }

    .primary-button:hover:after {
        background-color: white;
    }

    .primary-button:after {
        content: "";
        position: absolute;
        background-color: #FF4655;
        width: 0.3rem;
        height: 0.3rem;
        bottom: -.6px;
        right: -.6px;
        transition: background-color 0.15s ease-in-out;
    }

    .button-borders {
        position: relative;
        width: fit-content;
        height: fit-content;
    }

    .button-borders:before {
        content: "";
        position: absolute;
        width: calc(100% + 0.5em);
        height: 50%;
        left: -0.3em;
        top: -0.3em;
        border: .1vw solid #0E1822;
        border-bottom: 0px;
        /* opacity: 0.3; */
    }

    .button-borders:after {
        content: "";
        position: absolute;
        width: calc(100% + 0.5em);
        height: 50%;
        left: -0.3em;
        bottom: -0.3em;
        border: 1px solid #0E1822;
        border-top: 0px;
        /* opacity: 0.3; */
        z-index: 0;
    }

    .shape {
        fill: #0E1822;
    }

    /* Valores para el ultimo cuadro de fin de pagina donde se encuentra el contacto, otras paginas... */
    .contenedor-pie{
        width: 100%;
    }
    .pie-pagina {
        background-color: #f7dc6f;
        height: auto;
        font-family: 'Caveat', cursive;
    }

    .contacto {
        height: auto;
        width: 100%;

    }

    #titulo4 {
        text-align: center;
        font-size: 7vw;
        position: relative;
        top: 1vw;
        left: 6vw;
        border-bottom: .1vw solid black;
        width: 88vw;
    }

    .informacion {
        display: flex;
        width: 100%;
    }

    #informacion-1, #informacion-2{
        margin-left: 5vw;
        width: 50%;
    }

    .bloque-contacto {
        margin-bottom: 5vw;
        width: 45vw;
        height: auto;
    }

    .icono {
        margin-top: 0vw;
        width: 8vw;
        height: 8vw;
    }

    #bloque-ubicacion {
        width: 40vw;
        font-size: 2.5vw;
        position: relative;
        left: 8vw;
        line-height: 3vw;
        margin-right: 0;
    }

    #ubicacion, .enlaces {
        text-decoration: none;
        color: black;
    }

    #ubicacion:hover, .enlaces:hover {
        color: white;
    }

    #redes {
        margin: 0 auto;
        position: relative;
        top: .6vw;
        width: 25vw;
    }

    .text-redes {
        margin: .5vw;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-weight: bold;
        font-size: 4vw;
    }

    .bloque-iconos-redes {
        display: flex;
        justify-content: center;
    }

    .iconos-redes {
        margin-top: 1vw;
        margin-left: 2vw;
        margin-right: 2vw;
        width: 8vw;
        height: 8vw;
    }

    .text-contacto {
        padding-top: 2vw;
        padding-bottom: 2vw;
        margin-left: 2vw;
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Caveat', cursive;
        font-size: 4vw;
        height: auto;
    }

    #bloque-enlaces, #bloque-datos {
        width: 30vw;
        position: relative;
        left: 10vw;
    }

    .enlaces, .datos {
        margin-top: 0;
        margin-bottom: 1vw;
        display: list-item;
        font-size: 3vw;
    }

    .enlaces a{
        text-decoration: none;
        color: black;
    }

    #linea-contacto {
        color: black;

    }

    .copy {
        background-color: black;
    }

    .pie-negro{
        height: auto;
        background-color: #090808;
    }

    .pie-negro a{
        text-decoration: none;
        color: white;

    }

    .pie-negro a div {
        text-align: center;
        font-family: sans-serif;
        font-size: 3vw
    }


    /* Easter Egg*/
    .card-client {
        position: fixed;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #2cb5a0;
        width: 40vw;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
        border: 4px solid #7cdacc;
        box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
        border-radius: 10px;
        text-align: center;
        color: #fff;
        font-family: "Poppins", sans-serif;
        transition: all 0.3s ease;
    }

    .user-picture {
        overflow: hidden;
        object-fit: cover;
        width: 10rem;
        height: 10rem;
        border: 4px solid #7cdacc;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .user-picture svg {
        width: 2.5rem;
        fill: currentColor;
    }

    .name-client {
        margin: 0;
        margin-top: 20px;
        font-weight: 600;
        font-size: 4vw;
    }

    .name-client span {
        display: block;
        font-weight: 200;
        font-size: 3vw;
    }

    .social-media:before {
        content: " ";
        display: block;
        width: 100%;
        height: 2px;
        margin: 20px 0;
        background: #7cdacc;
    }

    .social-media a {
        position: relative;
        margin-right: 5vw;
        text-decoration: none;
        color: inherit;
    }

    .social-media a:last-child {
        margin-right: 0;
    }

    .social-media a svg {
        width: 6vw;
        fill: currentColor;
    }

    /*-- Tooltip Social Media --*/
    .tooltip-social {
        background: #262626;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 0.5rem 0.4rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: 600;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -90%);
        transition: all 0.2s ease;
        z-index: 1;
    }

    .tooltip-social:after {
        content: " ";
        position: absolute;
        bottom: 1px;
        left: 50%;
        border: solid;
        border-width: 10px 10px 0 10px;
        border-color: transparent;
        transform: translate(-50%, 100%);
    }

    .social-media a .tooltip-social:after {
        border-top-color: #262626;
    }

    .social-media a:hover .tooltip-social {
        opacity: 1;
        transform: translate(-50%, -130%);
    }

}